:root {
  --Scissors-Gradient: linear-gradient(to bottom,hsl(39, 89%, 49%),hsl(40, 84%, 53%));
  --Paper-Gradient: linear-gradient(to bottom,hsl(230, 89%, 62%),hsl(230, 89%, 65%));
  --Rock-Gradient: linear-gradient(to bottom,hsl(349, 71%, 52%),hsl(349, 70%, 56%));
  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);
  --Radial-Gradient: linear-gradient(to bottom,hsl(214, 47%, 23%),hsl(237, 49%, 15%));
  --font: 'Barlow Semi Condensed', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background: var(--Radial-Gradient);
  font-family: var(--font);
}